---
layout: home
title: Inicio
---
<div class="posts-container">
  {% for post in site.posts %}
    <div class="post-card" data-categories="{{ post.categories | join: ',' }}">
      {% if post.image %}
        <img src="{{ post.image }}" alt="{{ post.title }}">
      {% endif %}
      <div class="post-content">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <small>{{ post.date | date: "%d %b %Y" }}</small>
        <p>{{ post.excerpt }}</p>
        <a class="read-more" href="{{ post.url }}">Leer más</a>
      </div>
    </div>
  {% endfor %}
</div>
